In [10]:
import pandas as pd

df = pd.read_csv('heart.csv')
df.info()


df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=1025, step=1)

In [12]:
df.tail(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [13]:
len(df)

1025

In [14]:
df.set_index('Payment ID')

KeyError: "None of ['Payment ID'] are in the columns"

In [15]:
df = df.reset_index()

In [16]:
df.head()

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [17]:
df.loc('62')

ValueError: No axis named 62 for object type DataFrame

In [18]:
df.loc('5')

ValueError: No axis named 5 for object type DataFrame

In [19]:
df.loc(5)

ValueError: No axis named 5 for object type DataFrame

In [20]:
df.loc['62']

KeyError: '62'

In [21]:
df.loc[5]

index         5.0
age          58.0
sex           0.0
cp            0.0
trestbps    100.0
chol        248.0
fbs           0.0
restecg       0.0
thalach     122.0
exang         0.0
oldpeak       1.0
slope         1.0
ca            0.0
thal          2.0
target        1.0
Name: 5, dtype: float64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     1025 non-null   int64
 1   age       1025 non-null   int64
 2   sex       1025 non-null   int64
 3   cp        1025 non-null   int64
 4   trestbps  1025 non-null   int64
 5   chol      1025 non-null   int64
 6   fbs       1025 non-null   int64
 7   restecg   1025 non-null   int64
 8   thalach   1025 non-null   int64
 9   exang     1025 non-null   int64
 10  oldpeak   1025 non-null   float64
 11  slope     1025 non-null   int64
 12  ca        1025 non-null   int64
 13  thal      1025 non-null   int64
 14  target    1025 non-null   int64
dtypes: float64(1), int64(14)
memory usage: 120.2 KB

In [23]:
df.describe()

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,512.000000,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,296.036315,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,0.000000,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,256.000000,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,512.000000,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,768.000000,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,1024.000000,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [24]:
df.groupby('age')

In [25]:
df.groupby('age').mean()

,index,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,,
29,227.500000,1.000000,1.000000,130.000000,204.000000,0.000000,0.000000,202.000000,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000
34,287.000000,0.500000,2.000000,118.000000,196.000000,0.000000,0.500000,183.000000,0.000000,0.350000,2.000000,0.000000,2.000000,1.000000
35,568.533333,0.733333,0.266667,126.533333,209.200000,0.000000,0.800000,160.800000,0.466667,0.800000,1.733333,0.000000,2.466667,0.533333
37,349.666667,0.500000,2.000000,125.000000,232.500000,0.000000,1.000000,178.500000,0.000000,1.750000,1.000000,0.000000,2.000000,1.000000
38,474.500000,1.000000,2.333333,132.000000,193.666667,0.000000,1.000000,176.000000,0.333333,1.266667,1.666667,2.666667,2.333333,0.666667
39,546.857143,0.500000,1.428571,123.285714,236.857143,0.000000,0.785714,160.785714,0.000000,0.342857,1.428571,0.000000,2.285714,0.714286
40,448.181818,1.000000,0.818182,133.454545,196.090909,0.000000,0.636364,155.818182,0.636364,1.109091,1.636364,0.000000,3.000000,0.272727
41,474.906250,0.625000,1.187500,119.531250,218.156250,0.000000,0.625000,164.218750,0.093750,0.318750,1.781250,0.093750,1.968750,0.906250
42,565.115385,0.769231,1.230769,127.461538,246.807692,0.115385,0.769231,158.500000,0.153846,0.530769,1.384615,0.230769,1.961538,0.846154
43,501.692308,0.730769,0.461538,126.346154,256.923077,0.269231,0.576923,152.807692,0.423077,1.411538,1.346154,0.576923,2.538462,0.576923
44,500.416667,0.833333,1.166667,120.666667,220.000000,0.000000,0.666667,168.166667,0.194444,0.419444,1.611111,0.250000,1.972222,0.722222
45,512.560000,0.600000,0.760000,122.680000,246.840000,0.000000,0.240000,156.640000,0.360000,0.624000,1.240000,0.360000,2.240000,0.760000
46,446.347826,0.608696,0.782609,128.173913,234.608696,0.130435,0.565217,148.565217,0.434783,1.104348,1.304348,0.347826,2.478261,0.521739
47,467.944444,1.000000,1.222222,119.000000,248.166667,0.000000,0.611111,149.611111,0.222222,0.238889,1.777778,0.222222,2.000000,0.555556
48,472.043478,0.869565,0.826087,123.913043,250.130435,0.304348,0.434783,165.652174,0.173913,0.291304,1.391304,0.608696,2.478261,0.521739
49,477.764706,0.647059,1.294118,125.529412,221.529412,0.000000,0.764706,149.882353,0.000000,0.764706,1.588235,1.411765,2.235294,0.529412
50,518.809524,0.571429,1.000000,130.428571,227.000000,0.000000,0.571429,151.285714,0.142857,0.971429,1.428571,0.142857,2.428571,0.571429
51,543.512821,0.692308,1.410256,123.487179,257.948718,0.076923,0.538462,149.128205,0.615385,1.241026,1.666667,0.487179,2.358974,0.743590
52,581.511628,0.930233,1.116279,129.767442,226.348837,0.372093,0.837209,167.348837,0.162791,0.388372,1.674419,0.906977,2.093023,0.651163
53,509.807692,0.653846,0.692308,132.538462,234.192308,0.384615,0.153846,137.000000,0.423077,0.969231,1.192308,0.653846,2.192308,0.692308
54,480.245283,0.716981,1.018868,127.698113,253.905660,0.113208,0.433962,146.132075,0.339623,0.964151,1.415094,0.641509,2.452830,0.603774
55,508.200000,0.500000,0.333333,142.766667,282.266667,0.000000,1.033333,138.400000,0.666667,2.033333,1.100000,0.400000,2.533333,0.333333
56,493.333333,0.743590,0.794872,135.333333,258.871795,0.410256,0.179487,145.128205,0.564103,1.374359,0.871795,0.641026,2.282051,0.435897
57,512.456140,0.789474,0.543860,136.315789,241.877193,0.122807,0.614035,143.315789,0.456140,0.735088,1.403509,0.754386,2.368421,0.368421
58,526.455882,0.691176,0.808824,128.397059,253.794118,0.220588,0.397059,147.250000,0.235294,1.389706,1.367647,1.264706,2.397059,0.352941
59,536.326087,0.934783,1.282609,148.630435,238.282609,0.217391,0.521739,148.152174,0.347826,1.054348,1.304348,0.543478,2.282609,0.326087
60,549.081081,0.648649,0.810811,132.000000,245.189189,0.189189,0.459459,149.108108,0.459459,1.659459,1.459459,1.216216,2.648649,0.270270
61,522.838710,0.741935,0.580645,137.741935,243.774194,0.096774,0.483871,145.387097,0.612903,1.735484,1.387097,0.774194,2.516129,0.096774
62,522.675676,0.351351,0.567568,133.891892,256.486486,0.162162,0.540541,133.324324,0.162162,1.829730,1.000000,1.324324,2.459459,0.351351
63,481.218750,0.468750,0.562500,133.250000,263.093750,0.218750,0.312500,152.968750,0.468750,1.840625,1.343750,1.562500,2.406250,0.281250
64,528.794118,0.735294,1.264706,138.794118,274.970588,0.000000,0.588235,133.235294,0.500000,1.088235,1.176471,0.558824,2.323529,0.558824
65,595.222222,0.518519,1.111111,138.777778,276.185185,0.259259,0.222222,145.259259,0.000000,1.148148,1.555556,1.074074,2.296296,0.444444
66,460.200000,0.560000,0.800000,146.960000,244.240000,0.160000,0.400000,140.120000,0.440000,0.904000,1.200000,1.000000,1.880000,0.560000
67,489.838710,0.709677,0.645161,129.096774,280.870968,0.096774,0.419355,132.838710,0.354839,1.051613,1.193548,1.322581,2.451613,0.290323
68,642.416667,0.750000,1.500000,140.500000,238.750000,0.500000,0.500000,139.250000,0.250000,1.875000,1.250000,0.750000,2.750000,0.500000
69,593.444444,0.666667,2.666667,146.666667,242.333333,0.333333,0.333333,142.666667,0.000000,1.300000,1.333333,2.000000,2.333333,0.666667
70,529.142857,1.000000,0.642857,146.285714,251.857143,0.000000,0.500000,121.500000,0.500000,2.050000,0.928571,1.071429,2.500000,0.214286
71,496.818182,0.000000,1.000000,124.363636,232.909091,0.363636,0.636364,136.909091,0.000000,0.690909,1.636364,0.909091,2.000000,1.000000
74,542.333333,0.000000,1.000000,120.000000,269.000000,0.000000,0.000000,121.000000,1.000000,0.200000,2.000000,1.000000,2.000000,1.000000
76,533.000000,0.000000,2.000000,140.000000,197.000000,0.000000,2.000000,116.000000,0.000000,1.100000,1.000000,0.000000,2.000000,1.000000
77,236.333333,1.000000,0.000000,125.000000,304.000000,0.000000,0.000000,162.000000,1.000000,0.000000,2.000000,3.000000,2.000000,0.000000

In [26]:
df.groupby('age', 'sex').mean()

ValueError: No axis named sex for object type DataFrame

In [27]:
df.groupby(['sex','age']).mean()

              index        cp    trestbps        chol       fbs   restecg  \
sex age
0   34   268.666667  1.000000  118.000000  210.000000  0.000000  1.000000
    35   611.000000  0.000000  138.000000  183.000000  0.000000  1.000000
    37   160.666667  2.000000  120.000000  215.000000  0.000000  1.000000
    39   369.714286  2.000000  119.142857  211.000000  0.000000  1.000000
    41   480.583333  1.250000  118.250000  244.000000  0.000000  0.500000
...             ...       ...         ...         ...       ...       ...
1   67   483.227273  0.363636  131.045455  250.681818  0.136364  0.318182
    68   585.777778  1.333333  147.333333  248.000000  0.666667  0.666667
    69   468.666667  2.500000  150.000000  244.000000  0.500000  0.000000
    70   529.142857  0.642857  146.285714  251.857143  0.000000  0.500000
    77   236.333333  0.000000  125.000000  304.000000  0.000000  0.000000

            thalach     exang   oldpeak     slope        ca  thal    target
sex age
0   34   192.000000  0.000000  0.700000  2.000000  0.000000   2.0  1.000000
    35   182.000000  0.000000  1.400000  2.000000  0.000000   2.0  1.000000
    37   170.000000  0.000000  0.000000  2.000000  0.000000   2.0  1.000000
    39   163.571429  0.000000  0.000000  1.428571  0.000000   2.0  1.000000
    41   168.750000  0.250000  0.350000  2.000000  0.250000   2.0  1.000000
...             ...       ...       ...       ...       ...   ...       ...
1   67   122.545455  0.500000  1.222727  1.000000  1.454545   2.5  0.000000
    68   147.333333  0.333333  2.000000  1.333333  1.000000   3.0  0.333333
    69   138.500000  0.000000  1.050000  1.000000  2.000000   2.5  0.500000
    70   121.500000  0.500000  2.050000  0.928571  1.071429   2.5  0.214286
    77   162.000000  1.000000  0.000000  2.000000  3.000000   2.0  0.000000

[73 rows x 13 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     1025 non-null   int64
 1   age       1025 non-null   int64
 2   sex       1025 non-null   int64
 3   cp        1025 non-null   int64
 4   trestbps  1025 non-null   int64
 5   chol      1025 non-null   int64
 6   fbs       1025 non-null   int64
 7   restecg   1025 non-null   int64
 8   thalach   1025 non-null   int64
 9   exang     1025 non-null   int64
 10  oldpeak   1025 non-null   float64
 11  slope     1025 non-null   int64
 12  ca        1025 non-null   int64
 13  thal      1025 non-null   int64
 14  target    1025 non-null   int64
dtypes: float64(1), int64(14)
memory usage: 120.2 KB

In [30]:
def eligible(age):
    return (True if age > 50 else False)

df['eligibility'] = df['age'].apply(eligible)

df.head()

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,eligibility
0,0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,True
1,1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,True
2,2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,True
3,3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,True
4,4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,True